<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Richard's 3D Printer Store -- About Us!</title>
</head>
<body>
<h1>Welcome to Richard's 3d Printer Store!</h1>
<p>Welcome to Richard's 3D Printer Store, the finest retail outlet for your 3d printer needs for whatever you need!</p>
<p>We are a small Houston based operation that custom tools our own parts. You can find an excellent range of Voron based printers, including the V2.4, the Trident, and various other custom designs.</p>
<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>